[user]
  name = Mick Cooney
  email = mickcooney@gmail.com
#  email = mcooney@describedata.com

[credential]
  helper = cache --timeout=3600

[push]
  default = simple

[pull]
  rebase = false

[alias]
  lol      = log --graph --decorate --pretty=oneline --abbrev-commit
  lola     = log --graph --decorate --pretty=oneline --abbrev-commit --all
  recommit = commit --amend -m
  commend  = commit --amend --no-edit
  here     = !git init && git add . && git commit -m \"Initialized a new repository\"
  search   = grep
  who      = blame
  zip      = archive --format=tar.gz -o ../repo.tar.gz
  lonely   = clone --single-branch --branch
  plg      = log --graph --pretty=format:'%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen| %cr %C(bold blue)| %an%Creset' --abbrev-commit --date=relative
  fresh    = filter-branch --prune-empty --subdirectory-filter
  gs       = git status
  gc       = git commit -m
  gp       = git push
  gl       = git pull
  glog     = git log --oneline --graph --all --decorate # View Git log in one-line format
  gd       = git diff --cached                          # View the difference of staged changes
  grh      = git reset --hard HEAD                      # Hard reset to the latest commit
  gb       = git branch -vv                             # Show branches and the last commit in one-line
  gf       = fit fetch --all                            # Fetch all remote branches

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
